.headerContainer {
  position: relative;
  height: 600px;
  background: #fffdfd;
  overflow: hidden;
  transition: 0.2s;
}
.headerContainer .background {
  position: absolute;
  width: 150vw;
  height: 100%;
  right: 0;
  background: linear-gradient(15deg, #ffd8d8, #cbe6ff);
  transform-origin: bottom right;
  transform: rotate(5deg);
  transition: 0.2s;
}

.contentContainer {
  position: relative;
  height: 200px;
  background: #fffdfd;
  transition: 0.2s;
}

/* Dark Theme */
.headerContainer.dark {
  background: #5f5d5d;
}
.headerContainer.dark .background {
  background: linear-gradient(15deg, #332b2b, #424b53);
}
.contentContainer.dark {
  background: #5f5d5d;
}