.footerContainer {
  position: relative;
  background: #fffdfd;
  /* background: linear-gradient(30deg, #e7daff, #fffdfd 30%); */
  overflow: hidden;
  transition: 0.2s;
}
.footerContainer .footer {
  text-align: center;
  font-size: 110%;
  line-height: 60px;
  font-weight: 400;
  color: #554b63;
  letter-spacing: 1px;
}

/* Dark Theme */
.footerContainer.dark {
  background: #2c2b2b;
}
.footerContainer.dark .footer {
  color: #fffdfd;
  font-weight: normal;
}

/* RWD */
@media screen and (max-width: 1500px) {
  .footerContainer .footer {
    font-size: 99%;
    line-height: 50px;
  }
}
