.aboutContainer {
  position: relative;
  padding: 70px 0 70px 0;
  background: #fffdfd;
  /* background: linear-gradient(30deg, #e7daff, #fffdfd 30%); */
  overflow: hidden;
  transition: 0.2s;
}
.aboutContainer .background {
  position: absolute;
  width: 150vw;
  height: 100%;
  right: 0;
  top: calc(100% - 400px);
  /* background: linear-gradient(-15deg, #ffd8d8, #cbe6ff); */
  background: #ffeaea;
  transform-origin: top right;
  transform: rotate(-5deg);
  transition: 0.2s;
  z-index: 0;
}
.aboutContainer .titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutContainer .title {
  position: relative;
  margin-bottom: 10px;
  font-size: 200%;
}
.aboutContainer .title::before,
.aboutContainer .title::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 1px;
  bottom: -5px;
  background: #554b63;
  transition: 0.2s;
}
.aboutContainer .title::before {
  transform: translateX(calc(-100% - 50px));
}
.aboutContainer .title::after {
  transform: translateX(calc(0% + 50px));
}
.aboutContainer .subtitle {
  font-size: 150%;
  font-style: italic;
}
.aboutContainer .title,
.aboutContainer .subtitle {
  color: #554b63;
  letter-spacing: 1px;
  transition: 0.2s;
}
.aboutContainer .content {
  margin-top: 100px;
}
.aboutContainer .content .text {
  max-width: 900px;
  margin: 0 auto 30px auto;
  font-size: 120%;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2;
  color: #554b63;
  font-family: 微軟正黑體;
  font-weight: 900;
  transition: 0.2s;
}
.aboutContainer .content .text.interests {
  color: #5f3b3b;
}
.aboutContainer .content .playGuitar {
  width: 680px;
  height: 400px;
  padding: 10px;
  margin: 50px auto 50px auto;
  background: url(../../../../images/playGuitar.jpg) center center no-repeat;
  background-color: #FFF;
  background-size: calc(100% - 30px) calc(100% - 30px);
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(73, 40, 73, 0.5);
  transition: 0.2s;
  transform-origin: center center;
  transform: rotate(3deg);
}

/* Dark Theme */
.aboutContainer.dark {
  background: #2c2b2b;
}
.aboutContainer.dark .background {
  background: #291e1e;
}
.aboutContainer.dark .title::before,
.aboutContainer.dark .title::after {
  background: #c7c7c7;
}
.aboutContainer.dark .title,
.aboutContainer.dark .subtitle {
  color: #c7c7c7;
}
.aboutContainer.dark .content .text {
  color: #c7c7c7;
  font-weight: normal;
}
.aboutContainer.dark .content .text.interests {
  color: #ffdbdb;
}

/* RWD */
@media screen and (max-width: 1500px) {
  .aboutContainer {
    padding: 63px 0 63px 0;
  }
  .aboutContainer .background {
    top: calc(100% - 360px);
  }
  .aboutContainer .title {
    margin-bottom: 9px;
    font-size: 180%;
  }
  .aboutContainer .title::before,
  .aboutContainer .title::after {
    width: 180px;
    bottom: -4px;
  }
  .aboutContainer .title::before {
    transform: translateX(calc(-100% - 40px));
  }
  .aboutContainer .title::after {
    transform: translateX(calc(0% + 40px));
  }
  .aboutContainer .subtitle {
    font-size: 135%;
  }
  .aboutContainer .content {
    margin-top: 90px;
  }
  .aboutContainer .content .text {
    max-width: 810px;
    margin: 0 auto 27px auto;
    font-size: 108%;
  }
  .aboutContainer .content .playGuitar {
    width: 612px;
    height: 360px;
    padding: 9px;
    margin: 40px auto 40px auto;
    background-size: calc(100% - 27px) calc(100% - 27px);
  }
}
@media screen and (max-width: 990px) {
  .aboutContainer {
    padding: 70px 0 150px 0;
  }
  .aboutContainer .background {
    width: 200vw;
    transform-origin: bottom right;
  }
  .aboutContainer .background {
    width: 200vw;
    top: calc(100% - 400px);
    transform-origin: top right;
  }
  .aboutContainer .title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .aboutContainer .title::before,
  .aboutContainer .title::after {
    width: 80px;
  }
  .aboutContainer .title::before {
    transform: translateX(calc(-100% - 10px));
  }
  .aboutContainer .title::after {
    transform: translateX(calc(0% + 10px));
  }
  .aboutContainer .subtitle {
    font-size: 14px;
    font-style: italic;
  }
  .aboutContainer .content .text {
    font-size: 14px;
  }
  .aboutContainer .content .playGuitar {
    width: 300px;
    height: 177px;
    padding: 8px;
    margin: 30px auto 30px auto;
    background-size: calc(100% - 12px) calc(100% - 12px);
  }
}
