.professionalContainer {
  position: relative;
  padding: 200px 0 150px 0;
  background: #fffdfd;
  /* background: linear-gradient(30deg, #e7daff, #fffdfd 30%); */
  overflow: hidden;
  transition: 0.2s;
}
.professionalContainer .background {
  position: absolute;
  width: 150vw;
  height: 100%;
  right: 0;
  top: -100%;
  /* background: linear-gradient(-15deg, #ffd8d8, #cbe6ff); */
  background: #ffeaea;
  transform-origin: top right;
  transform: rotate(-8deg);
  transition: 0.2s;
  z-index: 0;
}
.professionalContainer .titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.professionalContainer .title {
  position: relative;
  margin-bottom: 10px;
  font-size: 200%;
}
.professionalContainer .title::before,
.professionalContainer .title::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 1px;
  bottom: -5px;
  background: #554b63;
}
.professionalContainer .title::before {
  transform: translateX(calc(-100% - 50px));
}
.professionalContainer .title::after {
  transform: translateX(calc(0% + 50px));
}
.professionalContainer .subtitle {
  font-size: 150%;
  font-style: italic;
}
.professionalContainer .title,
.professionalContainer .subtitle {
  color: #554b63;
  letter-spacing: 1px;
}
.professionalContainer .content {
  margin-top: 100px;
}
.professionalContainer .content .text {
  max-width: 900px;
  margin: 0 auto 30px auto;
  font-size: 120%;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 2;
  color: #554b63;
  font-family: 微軟正黑體;
  font-weight: 900;
}
.professionalContainer .content .text.interests {
  color: #5f3b3b;
}
.professionalContainer .content .playGuitar {
  width: 680px;
  height: 400px;
  padding: 10px;
  margin: 50px auto 50px auto;
  background: url(../../../../images/playGuitar.jpg) center center no-repeat;
  background-color: #FFF;
  background-size: calc(100% - 30px) calc(100% - 30px);
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(73, 40, 73, 0.5);
  transform-origin: center center;
  transform: rotate(3deg);
}

/* Dark Theme */
.professionalContainer.dark {
  background: #5f5d5d;
}
