.skillsContainer {
  position: relative;
  padding: 200px 0 150px 0;
  background: #fffdfd;
  overflow: hidden;
  transition: 0.2s;
}
.skillsContainer .background {
  position: absolute;
  width: 150vw;
  height: 100%;
  left: 0;
  bottom: calc(100% - 150px);
  background: #ecf6ff;
  transform-origin: bottom center;
  transform: rotate(10deg);
  transition: 0.2s;
  z-index: 0;
}
.skillsContainer .background2 {
  position: absolute;
  width: 150vw;
  height: 100%;
  right: 0;
  bottom: calc(100% - 0px);
  background: #ffeaea;
  transform-origin: top right;
  transform: rotate(-8deg);
  transition: 0.2s;
  z-index: 0;
}
.skillsContainer .titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillsContainer .title {
  position: relative;
  margin-bottom: 10px;
  font-size: 200%;
}
.skillsContainer .title::before,
.skillsContainer .title::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 1px;
  bottom: -5px;
  background: #554b63;
  transition: 0.2s;
}
.skillsContainer .title::before {
  transform: translateX(calc(-100% - 50px));
}
.skillsContainer .title::after {
  transform: translateX(calc(0% + 50px));
}
.skillsContainer .subtitle {
  font-size: 150%;
  font-style: italic;
}
.skillsContainer .title,
.skillsContainer .subtitle {
  color: #554b63;
  letter-spacing: 1px;
  transition: 0.2s;
}
.skillsContainer .skillBlock {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.skillsContainer .skills {
  display: flex;
  width: 100%;
  max-width: 1080px;
  justify-content: space-between;
}
.skillsContainer .skillItem {
  position: relative;
  display: flex;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  transform-origin: center center;
}
.skillsContainer .skillItem::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.2s;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.skillsContainer .skillItem:nth-child(1) {
  background: #ffaeae;
}
.skillsContainer .skillItem:nth-child(2) {
  background: #ffd6a1;
}
.skillsContainer .skillItem:nth-child(3) {
  background: #afd4a6;
}
.skillsContainer .skillItem:nth-child(4) {
  background: #8ec9d3;
}
.skillsContainer .skillItem:nth-child(5) {
  background: #b1b1dd;
}
.skillsContainer .skillItem:nth-child(1)::before {
  border: solid 2px #ffaeae;
}
.skillsContainer .skillItem:nth-child(2)::before {
  border: solid 2px #ffd6a1;
}
.skillsContainer .skillItem:nth-child(3)::before {
  border: solid 2px #afd4a6;
}
.skillsContainer .skillItem:nth-child(4)::before {
  border: solid 2px #8ec9d3;
}
.skillsContainer .skillItem:nth-child(5)::before {
  border: solid 2px #b1b1dd;
}
.skillsContainer .skillItem:nth-child(1) .skillContent {
  color: #640101;
}
.skillsContainer .skillItem:nth-child(2) .skillContent {
  color: #814a01;
}
.skillsContainer .skillItem:nth-child(3) .skillContent {
  color: #125502;
}
.skillsContainer .skillItem:nth-child(4) .skillContent {
  color: #004a57;
}
.skillsContainer .skillItem:nth-child(5) .skillContent {
  color: #000063;
}
.skillsContainer .skillItem:hover {
  transform: scale(1.1);
}
.skillsContainer .skillItem:hover::before {
  transform: scale(1.4) translate(-35.8%, -35.8%);
}
.skillsContainer .skillItem .skillName {
  font-size: 200%;
  font-weight: 900;
  font-family: 微軟正黑體;
  color: #FFF;
  transition: 0.2s;
}
.skillsContainer .skillItem .skillContent {
  margin-top: 10px;
  font-size: 120%;
  font-weight: 900;
  transition: 0.2s;
}
.skillsContainer .toolBlock {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.skillsContainer .tools {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
}
.skillsContainer .tools section {
  width: 33%;
}
.skillsContainer .toolType {
  margin: 0 20px 15px 20px;
  text-align: center;
  font-size: 200%;
  color: #554b63;
  transition: 0.2s;
}
.skillsContainer .line {
  width: calc(100% - 40px);
  height: 5px;
  margin: 0 auto 15px auto;
  border-radius: 10px;
  background-image: linear-gradient(to right, #cac8ca, #ebe9ec, #ebe9ec, #cac8ca);
  background-size: 200%;
  background-position: 200% 0%;
  animation: line 2.5s linear infinite;
}
.skillsContainer .toolName {
  padding: 0 40px;
  font-size: 130%;
  margin-bottom: 10px;
  color: #554b63;
  transition: 0.2s;
}

/* Dark Theme */
.skillsContainer.dark {
  background: #2c2b2b;
}
.skillsContainer.dark .background {
  background: #1e2429;
}
.skillsContainer.dark .background2 {
  background: #291e1e;
}
.skillsContainer.dark .title::before,
.skillsContainer.dark .title::after {
  background: #c7c7c7;
}
.skillsContainer.dark .title,
.skillsContainer.dark .subtitle {
  color: #c7c7c7;
}
.skillsContainer.dark .skillItem:nth-child(1) {
  background: #640101;
}
.skillsContainer.dark .skillItem:nth-child(2) {
  background: #814a01;
}
.skillsContainer.dark .skillItem:nth-child(3) {
  background: #125502;
}
.skillsContainer.dark .skillItem:nth-child(4) {
  background: #004a57;
}
.skillsContainer.dark .skillItem:nth-child(5) {
  background: #0e0e63;
}
.skillsContainer.dark .skillItem:nth-child(1)::before {
  border: solid 2px #640101;
}
.skillsContainer.dark .skillItem:nth-child(2)::before {
  border: solid 2px #814a01;
}
.skillsContainer.dark .skillItem:nth-child(3)::before {
  border: solid 2px #125502;
}
.skillsContainer.dark .skillItem:nth-child(4)::before {
  border: solid 2px #004a57;
}
.skillsContainer.dark .skillItem:nth-child(5)::before {
  border: solid 2px #000063;
}
.skillsContainer.dark .skillItem:nth-child(1) .skillContent {
  color: #ffaeae;
}
.skillsContainer.dark .skillItem:nth-child(2) .skillContent {
  color: #ffd6a1;
}
.skillsContainer.dark .skillItem:nth-child(3) .skillContent {
  color: #afd4a6;
}
.skillsContainer.dark .skillItem:nth-child(4) .skillContent {
  color: #8ec9d3;
}
.skillsContainer.dark .skillItem:nth-child(5) .skillContent {
  color: #b1b1dd;
}
.skillsContainer.dark .toolType {
  color: #67cdfd;
}
.skillsContainer.dark .line {
  background-image: linear-gradient(to right, #3d3d3d, #585858, #585858, #3d3d3d);
}
.skillsContainer.dark .toolName {
  color: #f7a354;
}

/* RWD */
@media screen and (max-width: 1500px) {
  .skillsContainer {
    padding: 180px 0 135px 0;
  }
  .skillsContainer .background {
    bottom: calc(100% - 135px);
  }
  .skillsContainer .title {
    margin-bottom: 9px;
    font-size: 180%;
  }
  .skillsContainer .title::before,
  .skillsContainer .title::after {
    width: 180px;
    bottom: -4px;
  }
  .skillsContainer .title::before {
    transform: translateX(calc(-100% - 40px));
  }
  .skillsContainer .title::after {
    transform: translateX(calc(0% + 40px));
  }
  .skillsContainer .subtitle {
    font-size: 135%;
  }
  .skillsContainer .skillBlock {
    margin-top: 90px;
  }
  .skillsContainer .skills {
    max-width: 972px;
  }
  .skillsContainer .skillItem {
    width: 162px;
    height: 162px;
  }
  .skillsContainer .skillItem .skillName {
    font-size: 180%;
  }
  .skillsContainer .skillItem .skillContent {
    margin-top: 9px;
    font-size: 108%;
  }
  .skillsContainer .toolBlock {
    margin-top: 90px;
  }
  .skillsContainer .tools {
    max-width: 900px;
  }
  .skillsContainer .toolType {
    margin: 0 18px 13px 18px;
    font-size: 180%;
  }
  .skillsContainer .line {
    width: calc(100% - 36px);
    height: 4px;
    margin: 0 auto 13px auto;
  }
  .skillsContainer .toolName {
    padding: 0 36px;
    font-size: 117%;
    margin-bottom: 9px;
  }
}
@media screen and (max-width: 990px) {
  .skillsContainer {
    padding: 70px 0 150px 0;
  }
  .skillsContainer .background {
    width: 200vw;
    transform-origin: bottom right;
  }
  .skillsContainer .background2 {
    width: 200vw;
  }
  .skillsContainer .title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .skillsContainer .title::before,
  .skillsContainer .title::after {
    width: 80px;
  }
  .skillsContainer .title::before {
    transform: translateX(calc(-100% - 10px));
  }
  .skillsContainer .title::after {
    transform: translateX(calc(0% + 10px));
  }
  .skillsContainer .subtitle {
    font-size: 14px;
    font-style: italic;
  }
  .skillsContainer .skills {
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skillsContainer .skillItem {
    width: 90px;
    height: 90px;
    margin: 7px;
  }
  .skillsContainer .skillItem .skillName {
    font-size: 12px;
    text-align: center;
  }
  .skillsContainer .skillItem .skillContent {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
  }
  .skillsContainer .toolBlock {
    margin-top: 30px;
  }
  .skillsContainer .tools {
    width: 100%;
    max-width: 450px;
    flex-wrap: wrap;
  }
  .skillsContainer .tools section {
    width: 100%;
    margin-bottom: 30px;
  }
  .skillsContainer .toolType {
    margin: 0 0 10px 0;
    font-size: 20px;
  }
  .skillsContainer .toolName {
    padding: 0 40px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #554b63;
    transition: 0.2s;
  }
}

/* Animations */
@keyframes line {
  0% { background-position: 200% 0%; }
  100% { background-position: 0% 0%; }
}
