.sidebarContainer {
  position: fixed;
  width: 240px;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 0 15px 15px 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 5px rgba(54, 52, 59, 0.3);
  transition: 0.2s;
}
.sidebarContainer .header {
  /* font-family: 微軟正黑體; */
  height: 60px;
  font-size: 180%;
  font-weight: 500;
  color: #555;
  text-align: left;
  border-bottom: 2px solid #b8b8b8;
  line-height: 60px;
  transition: 0.2s;
}
.sidebarContainer .photo {
  position: relative;
  width: 80px;
  height: 80px;
  max-height: 0px;
  margin: 0 auto 0 auto;
  background: url(../../images/me.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  /* border: solid 3px #b8b8b8; */
  box-shadow: 0 0 5px rgba(150, 147, 151, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s, box-shadow 0.2s;
  transform: scale(0);
}
.sidebarContainer .photo.active {
  max-height: 80px;
  margin: 15px auto 15px auto;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.sidebarContainer .photo.active .miniButtonGroup {
  opacity: 1;
}
.sidebarContainer .miniButtonGroup {
  position: absolute;
  display: flex;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: -60px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 0 4px rgba(150, 147, 151, 0.9);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s, opacity 0.5s;
  z-index: 1;
}
.sidebarContainer .miniButtonGroup.active {
  right: -100px;
}
.sidebarContainer .miniButtonGroup.active::before {
  transform: rotate(360deg);
}
.sidebarContainer .miniButtonGroup::before {
  content: '\f0c1';
  font-family: FontAwesome;
  font-size: 160%;
  color: #9a8caf;
  transition: 0.2s;
}
.sidebarContainer .miniButtonGroup .handleClick {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.sidebarContainer .miniButtonGroup .link {
  position: absolute;
  display: flex;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #FFF;
  font-family: FontAwesome;
  font-size: 170%;
  transform-origin: -70px center;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
/* Mini Buttons */
.sidebarContainer .miniButtonGroup .link::before {
  transition: 0.3s;
  transform-origin: center center;
}
.sidebarContainer .miniButtonGroup .link.github {
  background: #807294;
  font-size: 190%;
  transition: 0.2s 0s, background 0.2s, color 0.2s, box-shadow 0.2s;
}
.sidebarContainer .miniButtonGroup .link.codepen {
  background: #999;
  font-size: 165%;
  transition: 0.2s 0.1s, background 0.2s, color 0.2s, box-shadow 0.2s;
}
.sidebarContainer .miniButtonGroup .link.facebook {
  background: #8097ff;
  font-size: 150%;
  transition: 0.2s 0.2s, background 0.2s, color 0.2s, box-shadow 0.2s;
}
.sidebarContainer .miniButtonGroup .link.instagram {
  background: #ff94c6;
  transition: 0.2s 0.3s, background 0.2s, color 0.2s, box-shadow 0.2s;
}
.sidebarContainer .miniButtonGroup .link.youtube {
  background: #f58383;
  font-size: 165%;
  transition: 0.2s 0.4s, background 0.2s, color 0.2s, box-shadow 0.2s;
}
/* Mini Buttons Hover */
.sidebarContainer .miniButtonGroup .link.github:hover {
  background: #9f82c7;
}
.sidebarContainer .miniButtonGroup .link.codepen:hover {
  background: #b9b9b9;
}
.sidebarContainer .miniButtonGroup .link.facebook:hover {
  background: #9badff;
}
.sidebarContainer .miniButtonGroup .link.instagram:hover {
  background: #ffadd3;
}
.sidebarContainer .miniButtonGroup .link.youtube:hover {
  background: #ffaaaa;
}
/* Mini Buttons ::before */
.sidebarContainer .miniButtonGroup .link.github::before {
  content: '\f09b';
}
.sidebarContainer .miniButtonGroup .link.codepen::before {
  content: '\f1cb';
}
.sidebarContainer .miniButtonGroup .link.facebook::before {
  content: '\f082';
}
.sidebarContainer .miniButtonGroup .link.instagram::before {
  content: '\f16d';
}
.sidebarContainer .miniButtonGroup .link.youtube::before {
  content: '\f16a';
}
.sidebarContainer .miniButtonGroup.active .link {
  opacity: 1;
  pointer-events: auto;
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(2) {
  transform: translate(70px, -50%) rotate(-60deg);
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(3) {
  transform: translate(70px, -50%) rotate(-30deg);
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(4) {
  transform: translate(70px, -50%) rotate(0deg);
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(5) {
  transform: translate(70px, -50%) rotate(30deg);
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(6) {
  transform: translate(70px, -50%) rotate(60deg);
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(2)::before {
  transform: rotate(60deg);
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(3)::before {
  transform: rotate(30deg);
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(4)::before {
  transform: rotate(0deg);
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(5)::before {
  transform: rotate(-30deg);
}
.sidebarContainer .miniButtonGroup.active .link:nth-child(6)::before {
  transform: rotate(-60deg);
}
.sidebarContainer .navList {
  height: calc(100% - 100px);
  margin-top: 10px;
  overflow-y: auto;
  transition: 0.2s;
}
.sidebarContainer .navItem {
  /* background: #e0deec; */
  position: relative;
  padding: 10px 10px 10px 45px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 120%;
  cursor: pointer;
  color: #443163;
  overflow: hidden;
  transition: 0.1s;
}
.sidebarContainer .navItem:hover,
.sidebarContainer .navItem.active {
  background: #e0deec;
}
.sidebarContainer .navItem:hover::before,
.sidebarContainer .navItem.active::before {
  opacity: 1;
}
.sidebarContainer .navItem:hover .navItemDetail {
  margin-top: 5px;
  max-height: 50px;
  opacity: 1;
  /* transition: margin-top 0. */
}
.sidebarContainer .navItem::before {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 9px;
  left: 10px;
  font-family: FontAwesome;
  text-align: center;
  line-height: 25px;
  font-size: 130%;
  opacity: 0.5;
  transition: 0.1s;
}
.sidebarContainer .navItem.basicInfo::before {
  content: '\f007';
}
.sidebarContainer .navItem.experience::before {
  content: '\f19d';
  font-size: 115%;
  padding-left: 1px;
}
.sidebarContainer .navItem.skills::before {
  content: '\f0ad';
  font-size: 125%;
}
.sidebarContainer .navItem.about::before {
  content: '\f1ae';
}
.sidebarContainer .navItem.autobiography::before {
  content: '\f200';
  font-size: 115%;
  padding-left: 1px;
}
.sidebarContainer .navItem.works::before {
  content: '\f109';
  font-size: 125%;
  padding-left: 1px;
}
.sidebarContainer .navItem.resume::before {
  content: '\f2c2';
  font-size: 115%;
  padding-left: 1px;
}
.sidebarContainer .navItemDetail {
  font-size: 80%;
  margin-top: 0px;
  max-height: 0px;
  word-break: keep-all;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s 0.4s, margin-top 0.2s 0.4s, max-height 0.2s 0.4s;
}
.sidebarContainer .toggleSwitch {
  position: absolute;
  display: flex;
  width: 60px;
  height: 30px;
  bottom: 30px;
  left: 50%;
  padding: 0 5px 1px 5px;
  justify-content: space-between;
  align-items: center;
  background: #f8f6fc;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: inset 0 0 3px #acacac;
  transition: 0.2s;
  transform: translateX(-50%);
}
.sidebarContainer .toggleSwitch::before,
.sidebarContainer .toggleSwitch::after {
  font-family: FontAwesome;
  font-size: 150%;
}
.sidebarContainer .toggleSwitch::before {
  content: '\f185';
  color: #e4e4e4;
  text-shadow: 0 0 3px #ffffff;
}
.sidebarContainer .toggleSwitch::after {
  content: '\f186';
  color: #bda000;
  text-shadow: 0 0 3px #ffd900;
}
.sidebarContainer input {
  display: none;
}
.sidebarContainer input:checked ~ .toggle {
  transform: translateX(30px);
}
.sidebarContainer .toggle {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 1px;
  left: 1px;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 0 5px #808080;
  pointer-events: none;
  transition: 0.2s;
  z-index: 1;
}
.sidebarContainer .handleClick {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  top: 0;
  left: 0;
  background: transparent;
}

/* Dark Theme */
.sidebarContainer.dark {
  background: rgba(27, 24, 24, 0.9);
  box-shadow: 0 0 0 #000;
  border-right: solid 1px #444;
}
.sidebarContainer.dark .header {
  color: #a5a5a5;
  text-align: left;
  border-bottom: 2px solid #3a3a3a;
}
.sidebarContainer.dark .photo {
  box-shadow: 0 0 5px rgba(221, 221, 221, 0.9);  
}
.sidebarContainer.dark .miniButtonGroup {
  background: #272525;
  box-shadow: 0 0 0 #000;
  border: solid 1px #666;
}
.sidebarContainer.dark .miniButtonGroup::before {
  color: #00f7ff;
}
.sidebarContainer.dark .miniButtonGroup .link {
  background: #272525;
  border: solid 1px #666;
}
.sidebarContainer.dark .miniButtonGroup .link:hover {
  background: #424040;
  color: #FFF !important;
  box-shadow: 0 0 5px #FFF;
}
.sidebarContainer.dark .miniButtonGroup .link.github {
  color: #d7bbff;
}
.sidebarContainer.dark .miniButtonGroup .link.codepen {
  color: #dacbcb;
}
.sidebarContainer.dark .miniButtonGroup .link.facebook {
  color: #b9c6ff;
}
.sidebarContainer.dark .miniButtonGroup .link.instagram {
  color: #ffbddc;
}
.sidebarContainer.dark .miniButtonGroup .link.youtube {
  color: #fcb1b1;
}
.sidebarContainer.dark .navItem {
  color: #8b8a8a;
}
.sidebarContainer.dark .navItem:hover,
.sidebarContainer.dark .navItem.active {
  background: #312f2f;
  color: #dbdbdb;
}
.sidebarContainer.dark .toggleSwitch {
  background: #292929;
  box-shadow: inset 0 0 3px #8f8f8f;
}
.sidebarContainer.dark .toggle {
  background: #242323;
  box-shadow: 0 0 3px #ffffff;
}
