.experienceContainer {
  position: relative;
  padding: 70px 0 150px 0;
  background: #fffdfd;
  overflow: hidden;
  transition: 0.2s;
}
.experienceContainer .background {
  position: absolute;
  width: 150vw;
  height: 100%;
  right: 0;
  top: calc(100% - 250px);
  background: #ffeaea;
  transform-origin: top right;
  transform: rotate(-5deg);
  transition: 0.2s;
  z-index: 0;
}
.experienceContainer .titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experienceContainer .title {
  position: relative;
  margin-bottom: 10px;
  font-size: 200%;
}
.experienceContainer .title::before,
.experienceContainer .title::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 1px;
  bottom: -5px;
  background: #554b63;
  transition: 0.2s;
}
.experienceContainer .title::before {
  transform: translateX(calc(-100% - 50px));
}
.experienceContainer .title::after {
  transform: translateX(calc(0% + 50px));
}
.experienceContainer .subtitle {
  font-size: 150%;
  font-style: italic;
}
.experienceContainer .title,
.experienceContainer .subtitle {
  color: #554b63;
  letter-spacing: 1px;
  transition: 0.2s;
}
.experienceContainer .timelineBlock {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.experienceContainer .timeline {
  padding: 0 0 0 200px;
}
.experienceContainer .timeline .item {
  position: relative;
  padding-bottom: 50px;
  font-size: 150%;
  color: #554b63;
  font-weight: 900;
  font-family: 微軟正黑體;
  transition: 0.2s;
}
.experienceContainer .timeline .item::before,
.experienceContainer .timeline .item::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.experienceContainer .timeline .item::before {
  width: 16px;
  height: 16px;
  top: 7px;
  left: -50px;
  background: #e5d2ff;
  transition: 0.2s;
  z-index: 1;
  animation: linePoint 3s infinite;
}
.experienceContainer .timeline .item::after {
  width: 16px;
  height: 16px;
  top: 7px;
  left: -50px;
  background: #554b63;
  transition: 0.2s;
  z-index: 1;
}
.experienceContainer .timeline .item:last-child .line {
  display: none;
}
.experienceContainer .timeline .year {
  position: absolute;
  top: 1px;
  right: calc(100% + 70px);
  font-size: 90%;
  white-space: nowrap;
  font-weight: 900;
}
.experienceContainer .timeline .line {
  position: absolute;
  top: 35px;
  left: -42px;
  width: 1px;
  height: calc(100% - 40px);
  background: #554b63;
  transition: 0.2s;
  opacity: 0.5;
  z-index: 0;
}
.experienceContainer .timeline .unit {
  margin-top: 15px;
  font-size: 80%;
  color: #69518f;
  transition: 0.2s;
}
.experienceContainer .timeline .works {
  margin-top: 5px;
  max-width: 380px;
  font-size: 73%;
  color: #bd5b00;
  text-align: justify;
  font-weight: 400;
  transition: 0.2s;
}

/* Dark Theme */
.experienceContainer.dark {
  background: #2c2b2b;
}
.experienceContainer.dark .background {
  background: #291e1e;
}
.experienceContainer.dark .title::before,
.experienceContainer.dark .title::after,
.experienceContainer.dark .timeline .item::after,
.experienceContainer.dark .timeline .line {
  background: #c7c7c7;
}
.experienceContainer.dark .title,
.experienceContainer.dark .subtitle,
.experienceContainer.dark .timeline .item {
  color: #c7c7c7;
}
.experienceContainer.dark .timeline .item::before {
  background: #7a7777;
}
.experienceContainer.dark .timeline .unit {
  color: #67cdfd;
}
.experienceContainer.dark .timeline .works {
  color: #f7a354;
}

/* RWD */
@media screen and (max-width: 1500px) {
  .experienceContainer {
    padding: 63px 0 135px 0;
  }
  .experienceContainer .background {
    top: calc(100% - 210px);
  }
  .experienceContainer .title {
    margin-bottom: 9px;
    font-size: 180%;
  }
  .experienceContainer .title::before,
  .experienceContainer .title::after {
    width: 180px;
    bottom: -4px;
  }
  .experienceContainer .title::before {
    transform: translateX(calc(-100% - 40px));
  }
  .experienceContainer .title::after {
    transform: translateX(calc(0% + 40px));
  }
  .experienceContainer .subtitle {
    font-size: 135%;
  }
  .experienceContainer .timelineBlock {
    margin-top: 90px;
  }
  .experienceContainer .timeline {
    padding: 0 0 0 180px;
  }
  .experienceContainer .timeline .item {
    padding-bottom: 40px;
    font-size: 135%;
  }
  .experienceContainer .timeline .item::before {
    width: 14px;
    height: 14px;
    top: 6px;
    left: -40px;
  }
  .experienceContainer .timeline .item::after {
    width: 14px;
    height: 14px;
    top: 6px;
    left: -40px;
  }
  .experienceContainer .timeline .line {
    top: 31px;
    left: -33px;
    height: calc(100% - 36px);
    opacity: 0.4;
  }
  .experienceContainer .timeline .unit {
    margin-top: 13px;
  }
  .experienceContainer .timeline .works {
    margin-top: 4px;
    max-width: 342px;
  }
}

/* Animations */
@keyframes linePoint {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}