.headerContainer {
  position: relative;
  height: 600px;
  background: #fffdfd;
  overflow: hidden;
  transition: 0.2s;
}
.headerContainer .background {
  position: absolute;
  width: 150vw;
  height: 100%;
  right: 0;
  background: linear-gradient(15deg, #ffd8d8, #cbe6ff);
  transform-origin: bottom right;
  transform: rotate(5deg);
  transition: 0.2s;
  z-index: 0;
}
.headerContainer .userInfo {
  position: relative;
  display: flex;
  padding-top: 70px;
  z-index: 1;
}
.headerContainer .photo {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(../../../../images/me.jpg) center center no-repeat;
  background-size: cover;
  border: solid 6px #FFF;
  transition: 0.2s;
}
.headerContainer .titleArea {
  margin-left: 50px;
}
.headerContainer .title {
  color: #443163;
  letter-spacing: 1px;
  font-size: 200%;
  font-family: 微軟正黑體;
  transition: 0.2s;
}
.headerContainer .subtitle {
  margin: 5px 0 30px 0;
  color: #554b63;
  font-size: 115%;
  font-family: 微軟正黑體;
  font-weight: 500;
  transition: 0.2s;
}
.headerContainer .contact {
  position: relative;
  margin-top: 10px;
  padding-left: 70px;
  color: #554b63;
  font-size: 115%;
  font-family: 微軟正黑體;
  font-weight: 900;
  transition: 0.2s;
}
.headerContainer .contact.email::before {
  content: 'E-mail： ';
  position: absolute;
  left: 0;
  top: 0;
}
.headerContainer .contact.tel::before {
  content: 'Phone： ';
  position: absolute;
  left: 0;
  top: 0;
}
.headerContainer .links {
  display: flex;
  margin-top: 15px;
}
.headerContainer .links li {
  position: relative;
  display: flex;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  /* border-radius: 50%; */
  cursor: pointer;
  transition: 0.2s;
}
.headerContainer .links li:hover {
  background: #554b63;
}
.headerContainer .links .github:hover {
  background: #807294;
}
.headerContainer .links .codepen:hover {
  background: #999;
}
.headerContainer .links .facebook:hover {
  background: #8097ff;
}
.headerContainer .links .instagram:hover {
  background: #ff94c6;
}
.headerContainer .links .youtube:hover {
  background: #f58383;
}
.headerContainer .links li:hover::before {
  color: #ffffff;
}
.headerContainer .links li::before {
  font-family: FontAwesome;
  font-size: 28px;
  color: #554b63;
  transition: 0.2s;
}
.headerContainer .links .github::before {
  content: '\f09b';
  font-size: 30px;
  color: #807294;
}
.headerContainer .links .codepen::before {
  content: '\f1cb';
  color: #999;
}
.headerContainer .links .facebook::before {
  content: '\f082';
  color: #8097ff;
}
.headerContainer .links .instagram::before {
  content: '\f16d';
  color: #ff94c6;
}
.headerContainer .links .youtube::before {
  content: '\f16a';
  color: #f58383;
}
.headerContainer .links a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.headerContainer .titleBackground {
  position: absolute;
  font-size: 1300%;
  font-weight: 100;
  left: 40px;
  top: 350px;
  color: #cdc6da;
  transition: 0.2s;
}
.headerContainer .summary {
  margin-top: 40px;
  color: #69518f;
  transition: 0.2s;
}
.headerContainer .summary p {
  position: relative;
  max-width: 1500px;
  margin-top: 10px;
  padding-right: 100px;
  font-size: 160%;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 900;
  text-align: right;
  z-index: 1;
}

/* Dark Theme */
.headerContainer.dark {
  background: #2c2b2b;
}
.headerContainer.dark .background {
  background: linear-gradient(15deg, #332b2b, #424b53);
}
.headerContainer.dark .photo {
  border: solid 6px #9b9b9b;
}
.headerContainer.dark .title {
  color: #e2dede;
}
.headerContainer.dark .subtitle {
  color: #adadad;
}
.headerContainer.dark .contact {
  color: #00f7ff;
}
.headerContainer.dark .links li {
  background: #272525;
}
.headerContainer.dark .links li:hover {
  background: #424040;
  box-shadow: 0 0 5px #FFF;
}
.headerContainer.dark .links li:hover::before {
  color: #FFF !important;
}
.headerContainer.dark .links .github::before {
  color: #d7bbff;
}
.headerContainer.dark .links .codepen::before {
  color: #dacbcb;
}
.headerContainer.dark .links .facebook::before {
  color: #b9c6ff;
}
.headerContainer.dark .links .instagram::before {
  color: #ffbddc;
}
.headerContainer.dark .links .youtube::before {
  color: #fcb1b1;
}
.headerContainer.dark .titleBackground {
  color: #3f3f3f;
}
.headerContainer.dark .summary {
  color: #e2dede;
}

/* RWD */
@media screen and (max-width: 1500px) {
  .headerContainer {
    height: 540px;
  }
  .headerContainer .userInfo {
    padding-top: 63px;
  }
  .headerContainer .photo {
    width: 180px;
    height: 180px;
    border: solid 6px #FFF;
  }
  .headerContainer .titleArea {
    margin-left: 40px;
  }
  .headerContainer .title {
    font-size: 180%;
  }
  .headerContainer .subtitle {
    margin: 4px 0 27px 0;
    font-size: 103%;
  }
  .headerContainer .contact {
    position: relative;
    margin-top: 9px;
    padding-left: 63px;
    font-size: 103%;
  }
  .headerContainer .links {
    margin-top: 12px;
  }
  .headerContainer .links li {
    margin-right: 12px;
    width: 36px;
    height: 36px;
  }
  .headerContainer .links li::before {
    font-size: 180%;
  }
  .headerContainer .links .github::before {
    font-size: 210%;
  }
  .headerContainer .titleBackground {
    font-size: 1170%;
    left: 36px;
    top: 315px;
    color: #cdc6da;
    transition: 0.2s;
  }
  .headerContainer .summary {
    margin-top: 36px;
  }
  .headerContainer .summary p {
    max-width: 1350px;
    margin-top: 9px;
    padding-right: 90px;
    font-size: 144%;
    font-style: italic;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: right;
    z-index: 1;
  }
}
@media screen and (max-width: 990px) {
  .headerContainer {
    height: auto;
    padding-bottom: 100px;
  }
  .headerContainer .userInfo {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .headerContainer .photo {
    width: 140px;
    height: 140px;
    margin: auto;
  }
  .headerContainer .titleArea {
    margin: 20px auto 0 auto;
  }
  .headerContainer .title {
    font-size: 20px;
    text-align: center;
  }
  .headerContainer .subtitle {
    margin: 5px 0 30px 0;
    font-size: 12px;
    text-align: center;
  }
  .headerContainer .contact {
    position: relative;
    margin-top: 10px;
    margin-left: 4px;
    padding-left: 65px;
    color: #554b63;
    font-size: 15px;
    transition: 0.2s;
  }
  .headerContainer .links {
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
  }
  .headerContainer .links li {
    margin: 0;
  }
  .headerContainer .titleBackground {
    display: none;
  }
  .headerContainer .summary p {
    position: relative;
    max-width: 500px;
    margin: auto;
    margin-top: 18px;
    padding-right: 0;
    font-size: 15px;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
  }
}
