.contentContainer {
  position: relative;
  padding: 150px 0;
  /* height: 200px; */
  background: #fffdfd;
  transition: 0.2s;
}
.contentContainer .titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentContainer .title {
  position: relative;
  margin-bottom: 10px;
  font-size: 200%;
}
.contentContainer .title::before,
.contentContainer .title::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 1px;
  bottom: -5px;
  background: #554b63;
}
.contentContainer .title::before {
  transform: translateX(calc(-100% - 50px));
}
.contentContainer .title::after {
  transform: translateX(calc(0% + 50px));
}
.contentContainer .subtitle {
  font-size: 150%;
  font-style: italic;
}
.contentContainer .title,
.contentContainer .subtitle {
  color: #554b63;
  letter-spacing: 1px;
}
.contentContainer .timelineBlock {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.contentContainer .timeline {
  padding: 0 0 0 200px;
}
.contentContainer .timeline .item {
  position: relative;
  padding-bottom: 50px;
  font-size: 150%;
  color: #554b63;
}
.contentContainer .timeline .item::before,
.contentContainer .timeline .item::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.contentContainer .timeline .item::before {
  width: 30px;
  height: 30px;
  top: 0;
  left: -57px;
  background: #fffdfd;
  z-index: 1;
}
.contentContainer .timeline .item::after {
  width: 16px;
  height: 16px;
  top: 7px;
  left: -50px;
  background: #554b63;
  z-index: 1;
}
.contentContainer .timeline .item:last-child .line {
  display: none;
}
.contentContainer .timeline .year {
  position: absolute;
  top: 1px;
  right: calc(100% + 70px);
  font-size: 90%;
  white-space: nowrap;
}
.contentContainer .timeline .line {
  position: absolute;
  top: 7px;
  left: -42px;
  width: 1px;
  height: 100%;
  background: #554b63;
  opacity: 0.5;
  z-index: 0;
}
.contentContainer .timeline .unit {
  margin-top: 15px;
  font-size: 80%;
  color: #69518f;
}
.contentContainer .timeline .works {
  margin-top: 5px;
  max-width: 380px;
  font-size: 73%;
  color: #bd5b00;
}

/* Dark Theme */
.contentContainer.dark {
  background: #5f5d5d;
}